<form>
    <div class="row">
        <Input
            @type="text"
            data-ref="first-field"
            @placeholder="Enter 1st No"
            @key-up={{action "onClearAns"}}
            @value={{this.firstNo}}/>
        <select data-ref="operation-select" onchange={{action "onOperationChange" value="target.value"}}>
            <option>+</option>
            <option>-</option>
            <option>*</option>
        </select>
        <Input
            @type="text"
            data-ref="second-field"
            @placeholder="Enter 2nd No"
            @key-up={{action "onClearAns"}}
            @value={{this.secondNo}}/>
    </div>
    <div class="row">
        <button disabled={{this.isCalcDisabled}} data-ref="calcBtn" {{action "onCalculate"}}>Calculate</button>
    </div>
    <div class="row">
        <input type="text" data-ref="ans-field" placeholder="Ans" readonly value={{this.ans}}>
    </div>
</form>
<div class="row">
    <LiveCalcResults
        @firstNo={{this.firstNo}}
        @secondNo={{this.secondNo}}
        @operation={{this.operation}}
        @isAnsVisible={{this.isAnsVisible}}
        @ans={{this.ans}}/>
</div>