<div class="row">
    <h2>Book Details</h2>
    <h1>{{this.model.title}}</h1>
    {{#if this.model.pages}}
        Price: <i>{{this.model.price}}</i><br>
        Pages: <i>{{this.model.pages}}</i><br>

        {{#if this.model.publicationHouse}}
            Publication House: <i>{{this.model.publicationHouse}}</i><br>
            Ratings: <i>{{this.model.ratings}}</i>
        {{/if}}

        {{#if this.model.reviews}}
            {{#each this.model.reviews as |review|}}
                <div class="row">
                    {{review.description}} --- <i>{{review.name}}</i>
                </div>
            {{/each}}
        {{/if}}
    {{else}}
        <h3 class="row">Loading.... Please wait</h3>
    {{/if}}
</div>
<div class="row">
    <form>
        <p>
            <Input @type="text" @placeholder="Enter description" @value={{this.description}}/>
        </p>
        <p>
            <Input @type="text" @placeholder="Reviewer name" @value={{this.name}}/>
        </p>
        <p>
            <button {{action "onSaveReview"}}>Save</button>
        </p>
    </form> 
</div>