<div class="row">
    <Input @type="text" @placeholder="Search by title" @value={{this.searchTitle}}/>
    <button {{action "onSearch"}}>Search</button>
    <a href="" {{action "onClear"}}>Clear</a>
</div>

<Library::BookList @booklist={{this.model}}/>

{{#if (not this.formVisible)}}
    <div class="row">
        <button {{action "onShowBookForm"}}>Add book</button>
    </div>
{{/if}}

{{#if this.formVisible}}
    <div class="row">
        <Library::BookForm @onCancel={{action "onCancel"}}/>
    </div>
{{/if}}